{
  "gitlab": {
    "url": "https://gitlab.com"
  },
  "defaults": {
    "branch": "develop",
    "repoNameFilter": "-front",
    "excludeRepos": [],
    "fileInclude": [],
    "fileExclude": []
  },
  "commands": {
    "find-matches": {
      "concurrency": 5,
      "output": "./results/find-matches.json"
    }
  }
}
